<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vivid.dream.mapper.SongMapper">
    <select id="selectSong" parameterType="java.lang.Long" resultType="com.vivid.dream.model.SongVo">
        SELECT * FROM tb_song WHERE melon_id = #{melonId}
    </select>

    <select id="selectSongList" parameterType="String" resultType="com.vivid.dream.model.SongVo">
        SELECT * FROM tb_song WHERE DATE(create_date) = #{date}
    </select>

    <insert id="insertSong" parameterType="com.vivid.dream.model.SongVo">
        INSERT INTO tb_song (melon_id, song_name, artist, ranking, create_date)
        VALUES (#{melonId}, #{songName}, #{artist}, #{ranking}, NOW())
    </insert>

    <select id="selectSongDetail" parameterType="java.lang.Long" resultType="com.vivid.dream.model.SongDetailVo">
        SELECT * FROM tb_song_detail WHERE melon_id = #{melonId}
    </select>

    <insert id="insertSongDetail" parameterType="com.vivid.dream.model.SongDetailVo">
        INSERT INTO tb_song_detail (melon_id, album_name, img_url, release_date, genre, create_date)
        VALUES (#{melonId}, #{albumName}, #{imgUrl}, #{releaseDate}, #{genre}, NOW())
    </insert>

    <select id="selectSongLyrics" parameterType="java.lang.Long" resultType="com.vivid.dream.model.SongLyricsVo">
        SELECT * FROM tb_song_lyrics WHERE melon_id = #{melonId}
    </select>

    <insert id="insertSongLyrics" parameterType="com.vivid.dream.model.SongLyricsVo">
        INSERT INTO tb_song_lyrics (melon_id, song_name, artist, lyrics, create_date)
        VALUES (#{melonId}, #{songName}, #{artist}, #{lyrics}, NOW())
    </insert>

    <select id="selectNowDataCount" resultType="Integer">
        SELECT count(id) FROM tb_song WHERE create_date >= CURDATE() LIMIT 1
    </select>
</mapper>